[Desktop Entry]
Type=Application
Name=Rusty's Pigtail - Serial Terminal
GenericName=Serial Terminal
Comment=Desktop serial terminal
Exec=pigtail
Icon=pigtail
Terminal=false
Categories=Development;Electronics;
Keywords=Rustys;Rusty's;Pigtail;serial;uart;usb;terminal;console;
StartupWMClass=pigtail
